$fontStyle: "Public Sans", sans-serif;

$nav-bg-1: rgb(67, 67, 67);
$nav-bg-2: linear-gradient(
  90deg,
  rgb(8, 8, 8) 10%,
  rgb(6, 6, 7) 56%,
  rgb(17, 17, 17) 100%
);

$page-bg-1: black;
$page-bg-2: black;

$prob-bg-1: white;
$prob-bg-2: white;

$opacity-limit: 0;
$text-color: black;
