$fontStyle: "Public Sans", sans-serif;

$nav-bg-1: rgb(67, 67, 67);
$nav-bg-2: linear-gradient(
  90deg,
  rgb(8, 8, 8) 10%,
  rgb(6, 6, 7) 56%,
  rgb(17, 17, 17) 100%
);

$page-bg-1: rgb(101, 101, 101);
$page-bg-2: radial-gradient(
  circle,
  rgba(101, 101, 101, 1) 0%,
  rgba(0, 0, 0, 1) 100%
);

$prob-bg-1: rgb(139, 134, 134);
$prob-bg-2: linear-gradient(
  0deg,
  rgba(139, 134, 134, 1) 43%,
  rgba(27, 21, 9, 1) 82%
);

$opacity-limit: 0.9;
$text-color: white;
