/* 
body {
  background-color: whitesmoke;

}

.dashboardTitle {
  font-weight: 400;
}

.heading1,
.heading4 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: -5%;
}

span > h1 {
  margin-top: 26%;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 91vh;
  margin-left: auto;
  margin-right: auto;
}

.card {
  height: 210px;
  width: 290px;
  background-color: black;
  margin-right: 5%;
  border-radius: 5%;
  color: white;
  font-weight: 600;
  box-shadow: 1px 3px 28px 1px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px 3px 28px 1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 3px 28px 1px rgba(0, 0, 0, 0.61);
  transition: 0.5s ease-in-out;
}

.card2 {
  background: rgb(60, 101, 255);
  background: linear-gradient(
    203deg,
    rgba(60, 101, 255, 0.8743698162858894) 0%,
    rgba(50, 14, 209, 1) 0%,
    rgba(255, 0, 211, 1) 0%,
    rgba(255, 184, 17, 0.87156869583771) 100%
  );
}

.card3 {
  background: rgb(60, 101, 255);
  background: linear-gradient(
    203deg,
    rgba(60, 101, 255, 0.8743698162858894) 44%,
    rgba(50, 14, 209, 1) 87%,
    rgba(105, 17, 255, 0.87156869583771) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card:hover {
  transform: scale(1.2);
}

.cardsPieContainer {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

.cardsContainer {
  display: flex;
  margin-top: 1.5%;
} */

.container {
  margin-top: -20px;
  height: 100%;
  background-color: #1e1e2e;
  overflow: hidden;
}

.title {
  text-align: center;
  color: #babbc1;
  font-weight: 200;
  margin: 20px 0;
}

.innerCards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  padding: 4rem;
}

.innerCards h1 {
  font-size: 20px;
  padding: 15px;
  color: #6c7293;
}

.innerCards h3 {
  margin-left: 20px;
  color: white;
  font-weight: 850;
}

.innerCards .icon {
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  color: #ff8479;
}

.innerCards .icon1 {
  color: #ff8479;
}

.innerCards .icon2 {
  color: #d550d8;
}

.innerCards .icon3 {
  color: #00d8d0;
}

.card1 {
  position: relative;
  background-color: #27293d;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 1px 8px 17px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 17px -2px rgba(0, 0, 0, 0.75);
  margin: 0 10px;
}

.pie {
  height: 600px;
  width: 600px;
  margin: 70px auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .pie {
    padding: 4rem;
    height: 300px;
    /* width: 500px; */
  }

  .innerCards {
    display: flex;
    flex-direction: column;
    padding: 18px;
  }

  .card1 {
    margin: 10px;
  }
}

@media only screen and (min-width: 690px) and (max-width: 800px) {
  .pie {
    margin-left: 10rem;
  }
  .innerCards .icon {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    color: #ff8479;
  }

  .innerCards .icon1 {
    color: #ff8479;
  }

  .innerCards .icon2 {
    color: #d550d8;
  }

  .innerCards .icon3 {
    color: #00d8d0;
  }
}
