.container {
    height: 92.3vh;
    background-image: url('../static/dashboard-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.heading1 {
    text-align: center;
    padding-top: 3%;
    margin-bottom: -60px;
    font-size: 300%;
}
