/* body {
    height: 100vh;
    padding: 0;
    background: ghostwhite;
}


.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 190px;
}

.hero {
    color: black;
    background: rgb(8, 16, 66);
    padding: 80px;
    color: white;
}

.hero p {
    font-size: 20px;
    font-weight: 200;    
    margin-top: 13px;
}

.cont {
    position: absolute;
}

.hero {
    position: relative;
    height: 50vh;
}

.hero::before {
    content: "";
    position: absolute;
    width: 720px;
    height:470px;
    background: url('./ec.svg');
    top: 0;
    right: 0;
}

.title {
    color: white;
    height: 100px;
    font-size: 40px;
}

@media only screen 
    and (min-width : 1224px) {
        .cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 190px;
            justify-content: left;
        }

        
    } */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: ghostwhite;
}

.hero {
  background: url("../static/background.webp");
  background-size: cover;
  padding: 80px;
  height: 80vh;
  position: relative;
}

.cont {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cont p {
  font-size: 2em;
  margin-top: 13px;
  font-weight: 200;
  color: white;
  text-align: center;
}

.title {
  color: white;
  height: 100px;
  font-size: 3rem;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 190px;
}

@media only screen and (min-width: 1224px) {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 190px;
    justify-content: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero {
    height: 100vh;
  }
  .cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cont p {
    visibility: hidden;
  }
  .title {
    color: white;
    height: 90px;
    width: 500px;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .title {
    color: white;
    height: 100px;
    font-size: 3rem;
    margin-left: 30%;
  }
  .cont p {
    display: inline-block;
    width: 900px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  .cont p {
    display: inline-block;
    width: 900px;
  }
}

@media only screen and (min-width: 1224px) and (max-width: 1300px) {
  .cont p {
    display: inline-block;
    width: 900px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .hero {
    height: 90vh;
  }
  .title {
    color: white;
    margin-left: -20%;
    width: 300px;
  }
  .cont p {
    visibility: hidden;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    margin-left: 15%;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .title {
    color: white;
    margin-left: -0%;
    width: 450px;
    margin-top: 30%;
  }
  .cont p {
    visibility: hidden;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    margin-left: 15%;
    margin-top: 10%;
  }
}
